@font-face {
    font-family: 'Cabinet';
    src: url('CabinetGrotesk_Complete/Fonts/OTF/CabinetGrotesk-Black.otf') format('opentype');
    font-weight: 400;
    font-display: swap;
    font-style: normal;
  }

  body {
    display: flex;
    justify-content: center; /* Horizontal centering */
    align-items: center;    /* Vertical centering */
    height: 100vh;          /* Full viewport height */
    margin: 0;              /* Remove default margin */
    background-color: #1a1919; /* Dark Gray */
  }
  
  #Logo {
    font-family: "Cabinet";
    font-weight: bold;
    color: white;
    font-size: 7rem;
  }
  
  .container {
    text-align: center;
}

/* Custom Google Button Styling */
.g_id_signin {
    margin-top: -50%;
    margin: 0;
}

/* Optional: Add hover effect */
.g_id_signin:hover {
    opacity: 0.9;
}